<%= render 'layouts/header' %>
<div class="sign-in">
  <div class="current-user">
    <%= form_for(:session, {role: "form", url: login_path}) do |f| %>
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, placeholder: "Enter users email" %>
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, placeholder: "Enter password" %>
      <%= f.button "Log In" %>
    <% end %>
  </div>
  <div class="new-user">
    <button type="button">Register</button>
  </div>
</div>
