<%= render 'layouts/header' %>
<div class="chatrooms-index">
  <div class="chat">
    <div class="chat-history" id="messages-container">
      <%= render @messages %>
    </div>
    <div class="chat-controls">
      <%= form_for(@message, { url: message_path, role: "form", remote: true }) do |f| %>
        <%= f.text_field :body, placeholder: "Type something...", id: 'message-source' %>
        <%= f.button "Send" %>
      <% end %>
    </div>
  </div>
  <div class="users-in-chat">
      <h3>Users in the chat:</h3>
      <div class="user">User One</div>
      <div class="user">User Two</div>
      <div class="user">User Three</div>
  </div>
</div>


